{
    email admin@point-8.de
}
service-templates.point8.cloud {  # replace by `localhost` to develop locally
    reverse_proxy fastapi:8080

    basicauth {
        guest JDJhJDE0JGFtQmtydjlLajExWVhZcHVSTUN2R09JZDZ2ei5WQWhQejRCOHFVRlJNT25YYXU0Y2VtNTZX
    }
}
